{% extends 'core/base.html' %}
{% block content %}

<div class="container mt-4">
  <div class="card shadow p-4">
    <h2 class="text-center">👨‍🏫 Proctors List</h2>

    <table class="table table-bordered table-striped mt-3">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Department</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for p in proctors %}
        <tr>
          <td>{{ p.id }}</td>
          <td>{{ p.user.username }}</td>
          <td>{{ p.department }}</td>

          <td>
            <a href="{% url 'edit_proctor' p.id %}" class="btn btn-primary btn-sm">Edit</a>
            <a href="{% url 'delete_proctor' p.id %}" class="btn btn-danger btn-sm"
               onclick="return confirm('Are you sure?')">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>

{% endblock %}
